<ion-top-menus enable-menu-with-back-views="true">
	<ion-top-menu-content>
		<ion-nav-bar class="bar-positive" align-title="center" ng-class="{'has-tabs-top': data.hasTabsTop}">
			<ion-nav-buttons side="left">
				<button ng-show='data.showBackBtn' class="button button-icon button-clear ion-chevron-left" ng-click="goBack()"></button>
				<button ng-show='data.showMainMenuBtn' class="button button-icon button-clear ion-navicon" top-menu-toggle="top" ng-click="toggleLeft()"></button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
				<button ng-if="data.buttons.length > 0" class="button button-icon button-clear" ng-class="data.buttons[0].iconClass" ng-click="navbarButtonClick(data.buttons[0])"></button>
				<button ng-if="data.buttons.length > 1" class="button button-icon button-clear" ng-class="data.buttons[1].iconClass" ng-click="navbarButtonClick(data.buttons[1])"></button>
				<button ng-if="data.buttons.length > 2" class="button button-icon button-clear" ng-class="data.buttons[2].iconClass" ng-click="navbarButtonClick(data.buttons[2])"></button>
			</ion-nav-buttons>

		</ion-nav-bar>
		<ion-nav-view name="mainContent"></ion-nav-view>
	</ion-top-menu-content>

	<ion-top-menu side="top">
		<ion-content class="positive-bg">
			<ion-list>
				<ion-item nav-clear top-menu-close href="#/main/map">
					Map
				</ion-item>
				<ion-item nav-clear top-menu-close href="#/main/list">
					List
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-top-menu>
</ion-top-menus>
